*{
    font-family: 'Merriweather', serif;
}

.main-content{
    display: flex;
}
@media screen and (min-width:800px){
    .main-content{
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
     justify-items: stretch;
    align-items: stretch;
    }
}


.title{
    align-items: center;
    text-align: center;
    padding: 1rem;
}
h4{
    font-weight: 700;
    padding: 0.2rem;
}
.info-slide{
    padding: 1rem;
    margin:1rem;
    align-items: center;
}
label{
    font-weight: bolder;
    padding:1rem;
}
