.committee-card{
    margin:2rem;
}


@media screen and (min-width:1000px){
    #content{
        
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .committee-card{
        height:38rem;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    
}

#content{
    margin-top:3rem;
}
#title{
    left:50%;
    text-align: center;
    margin-top:4rem;

    width:50%;
}
@media screen and (min-width:350px){
    #title:hover{
        animation:TITLE_HOVER 10s;
    }
    @keyframes TITLE_HOVER {
        10%, 90%{
            border-top:#0D6EFD solid;
            border-bottom:#0D6EFD solid;
            padding:3rem;
        }
    }
}


.header{
    display: flex;
    justify-content: center;
}