*{
    font-family: 'Merriweather', serif;
}


.committee-card{
    margin:2rem;
}


@media screen and (min-width:1000px){
    #content{
        
        display: flex;
        
    }

    .committee-card{
        height:41rem;
        width:30%;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    
    
}

#content{
    margin-top:3rem;
    justify-content: space-around;
}
#title{
    left:50%;
    text-align: center;
    margin-top:4rem;
    transition: 3s;
    width:50%;
}
@media screen and (min-width:350px){
    #title{
        /* animation:TITLE_HOVER 4s; */
        border-top:#0D6EFD solid;
        border-bottom:#0D6EFD solid;
        padding:2rem;
    }
    /* @keyframes TITLE_HOVER {
        10%, 90%{
            border-top:#0D6EFD solid;
            border-bottom:#0D6EFD solid;
            padding:2rem;
            transition:2s;
        }
    } */
}


.header{
    display: flex;
    justify-content: center;
}