body{
    background: #e5e7eb;
}

.theme-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:1rem;
}
.title{
    padding: 3;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding:3rem;
    background: #f3f4f6;
    border-radius: 0.375rem;
    margin:2rem;
}

.content{
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding:3rem;
    background: #f3f4f6;
    border-radius: 0.375rem;

}
.buttons{
    display: flex;
}

@media (max-width:760px) {
    .buttons{
        flex-direction: column;
    }
}
.button{
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    border:none;
    border-radius: 1.5rem;
    padding: 5rem;
    font-weight:bold;
    margin: 5rem;
    background: #e5e7eb;
}
.button:hover{
    background: #d1d5db;
}