*{
    margin:0;
    padding:0;
    overflow-x: hidden;
    
}
:root{
    --backcol:#0D6EFD;
    /*darker:#212529*/
    /*blue:#0D6EFD*/
}

.home-header{
    margin-top:1rem;
    margin-bottom:1rem;
    align-items: center;
    justify-content:center;
    display:flex;
    justify-items: column;
}



.content{
    width:75rem;
    margin:auto;
    padding-bottom: 1.5rem;
        
}


@media screen and (max-width:1023px){
    .content{
        font-size:small;
    }
    #subtitle{
        font-size: small;
    }
    .introduction{
        font-size: small;
    }
    .intro-par{
        font-size:small;
    }
    .foot{
        font-size: small;
    }
}
.content{
    border-top:var(--backcol) 3px solid;
    border-bottom: var(--backcol) 3px solid;
    width:50%;
    margin-bottom:2rem;
}

#subtitle{
    overflow-y: hidden;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.introduction{
    margin-left: auto;
    margin-right: auto;
}

.end{
    margin-bottom: 10rem;
}
.intro-par{
    margin-bottom: 2rem;
}







@media screen and (min-width:1025px) {
    .scroll-down {
        height: 50px;
        width: 30px;
        border: 2px solid black;
        position: absolute;
    
        border-radius: 50px;
        cursor: pointer;
      }
      .scroll-down::before,
      .scroll-down::after {
        content: "";
        position: absolute;
        top: 20%;
        left: 50%;
        height: 10px;
        width: 10px;
        transform: translate(-50%, -100%) rotate(45deg);
        border: 2px solid black;
        border-top: transparent;
        border-left: transparent;
        animation: scroll-down 1s ease-in-out infinite;
      }
      .scroll-down::before {
        top: 30%;
        animation-delay: 0.3s;
        /* animation: scroll-down 1s ease-in-out infinite; */
      }
      
      @keyframes scroll-down {
        0% {
          /* top:20%; */
          opacity: 0;
        }
        30% {
          opacity: 1;
        }
        60% {
          opacity: 1;
        }
        100% {
          top: 90%;
          opacity: 0;
        }
      }
}


.join-us{
    margin-top:5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


#sign-up-title{
    text-decoration: none;

}
.join-us-title{
    width:15rem;
    text-align: center;
    font-size: xx-large;
    height:5rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

#carouselExampleInterval{
    max-height: 30rem;
    align-items: center;
    display:flex;
    justify-content: center;
    overflow-y: hidden;
}